<h1>List Users</h1>

<table border="1">
  <thead>
    <tr>
      <th>Email</th>
      <th>role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>
          <% if I18n.locale == :ja %>
            <%= user.role.jname %>
          <% else %>
            <%= user.role.ename %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', users_edit_path(user) %></td>
        <td><%= link_to 'Destroy', users_destroy_path, method: :delete, 
                         data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


